.header__body, .header__menu, .header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.wrapper {
  width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.header__body {
  width: 100%;
  height: 70px;
}

.header__menu {
  width: 15%;
}

.header__link {
  font-weight: 500;
  font-size: 16px;
  color: #151C22;
  text-transform: capitalize;
}

.header__logo {
  color: #151C22;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

.header__actions {
  width: 6%;
}

.header__search {
  width: 30%;
  cursor: pointer;
}

.header__shopping-cart {
  width: 30%;
  cursor: pointer;
}

.logo {
  font-weight: 800;
  font-size: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
